<%= form_with(model: team, local: true) do |form| %>
  <div class="new-member-form">
    <%= form.label :name, "Nom de l'Argonaute", for: "name" %>
    <%= form.text_field :name, id: "name", name: "name", type: "text", placeholder: "Charalampos" %>
    <%= form.submit "Envoyer", type: "Submit" %>
  </div>
<% end %>
